<nav class="navbar px-2">
    
    <!--<i class="navbar-brand px-4" href="#">Garudauav</i>-->

    <div class="navbar-collapse">
        <!--<ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Menu1</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Child1</a></li>
                    <li><a class="dropdown-item" href="#">Child2</a></li>
                </ul>
            </li>
        </ul>-->
    </div>

    <!--<form class="d-flex me-5">
        <input class="form-control me-2" type="search" placeholder="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
    </form>-->

    <!-- <div class="profile-logo dropstart">
        &nbsp;<button class="btn btn-outline-warning" [routerLink]="['/logout']"><i class="fa fa-sign-out"
            aria-hidden="true">Logout</i> {{result.user_name}}</button>        
    </div> -->

</nav>