.body-wrapper {
    padding: 0px 40px 30px;
    height: 100%;
    @media (max-width:480px) {
        padding: 0px 15px 15px;
    }
}

app-header {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4rem;
    z-index: 2;
}

main {
    position: absolute;
    width: 100%;
    // top: 3.5rem;
    z-index: 1;
}

app-side-nav {
    position: absolute;
    left: 0rem;
    box-shadow: 0px 0px 10px black;
    background-color: #ffffff;
    border-top: 1px solid white;
    overflow-x: hidden;
    white-space: nowrap;
    transition: width 250ms ease-in;
}

.app-side-nav-open {
    width: 250px;

}

.display-area {
    position: absolute;
    left: 272px;
    width: 82%;
    transition: left 250ms ease-in, width 250ms ease-in;
}

.display-area-shrink {
    left: 250px;
    width: 80%;
}